<h1 class="products">About</h1>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <h1>Who is Ronnie Vella</h1>
    <h3>Ever since I was 11 I was always fascinated with sustainable ways of 
    transportation. A speed, yet efficient and environmentally green way to travel.
    I wanted to reinvent the Jet Turbine into something with the same amount of thrust 
    (if not more) yet electric. I set out on that goal when I was 17. My parents had moved 
    back to Malta and it was up to me to chase that dream. I lived on my own in New York
    City and worked odd Jobs to make ends meet just to finish High School and get myself
    to Collage. Throughout school I battled my learning disabilities and found ways to make
    them my strengths, homelessness and many sleepless nights to get my engineering degree.
    I don’t believe in just accepting defeat, instead make it your life purpose, the reason 
    you get up in the morning, make it your baby.</h3>
  </div><!--closes col-->
</div><!--closes row  -->

