
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<h1 class="products"><strong>What I do</strong></h1>


<div class="row">
       
      <div class="col-md-4 col-xs-12">
       <i class="fa fa-cogs" style="font-size:48px;" aria-hidden="true"></i>
        <h2>Mechanical Engineer</h2>
        <p>I am an engineer with various design/research/management experience ranging from Solar powered homes to working on certifying drones. I have a thirst for knowledge and love thinking outside the box.  </p>
      </div>
      <!-- /col -->
      <div class="col-md-4 col-xs-12">
      <i class="fa fa-code" style="font-size:48px;" aria-hidden="true"></i>
        <h2>Coder</h2>
        <p>Over the years I have had experience with coding in C++, Python 2.7, Micro-controllers, Matlab and more recently, Ruby on Rails, HTML, CSS and a bit of JavaScript. I love coding because it allows you the freedom to create without the expenses. Its amazing how a few lines of code can send man into space, build beautiful websites, and soon be able to transport us.   </p>
      </div>
      <!-- /col -->
      <div class="col-md-4 col-xs-12">
       <i class="fa fa-lightbulb-o" style="font-size:48px;" aria-hidden="true"></i>
       <h2>Consultent</h2>
        <p>Because I cannot join every project that interests me due to the lack of time (I tried). I also love to consult on projects that my friends are involved with such as a floating classroom. I love helping to develop ideas and brainstorming more efficient and smarter designs.</p>
        
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
    
  
 
 
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Can place script tags with JavaScript files here -->
