<html lang="en">

<head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    
    
<div class="bg"></div>
<div class="container">

<div class="jumbotron">


    
 <div id="splashscreen">




<div class="css-typing">
  <strong><center><p> Hello World! My name is Ronnie. </p>
  <p>I am a Full Stack Developer & Mechancial Engineer</p>
  <p>who currently works for the Aerospace industry.</p>
  <p>Please come inside.</p></center></strong>
</div>

<a href="#home"><i class="fa fa-arrow-circle-o-down" style="font-size:40px;color:#7CFC00;"></i></a>




</div>
<!--jumbotron-->


</div> 
<!--container-->



<div class="header" id="home">
<h1><br><br>What I do</h1>
</div> <!--headersofsite-->


<div class="row" style="color:black;">
       
      <div class="col-md-4 col-xs-12">

       <i class="fa fa-cogs" style="font-size:48px;color:gold;" aria-hidden="true"></i>
        <h2>Mechanical Engineer</h2>
        <p>I am an engineer with various design/research/management experience ranging from Solar powered homes to working on certifying drones. I have a thirst for knowledge and love thinking outside the box.  </p>
      </div>
      <!-- /col -->
      <div class="col-md-4 col-xs-12">
      <i class="fa fa-code" style="font-size:48px;color:gold;" aria-hidden="true"></i>
        <h2>Coder</h2>
        <p>Over the years I have had experience with coding in C++, Python 2.7, Micro-controllers, Matlab and more recently, Ruby on Rails, HTML, CSS and a bit of JavaScript. I love coding because it allows you the freedom to create without the expenses. Its amazing how a few lines of code can send man into space, build beautiful websites, and soon be able to transport us.   </p>
      </div>
      <!-- /col -->
      <div class="col-md-4 col-xs-12">
       <i class="fa fa-lightbulb-o" style="font-size:48px;color:gold;" aria-hidden="true"></i>
       <h2>Consultent</h2>
        <p>Because I cannot join every project that interests me due to the lack of time (I tried). I also love to consult on projects that my friends are involved with such as a floating classroom. I love helping to develop ideas and brainstorming more efficient and smarter designs.</p>
        
      </div>
      <!-- /col -->
 
 </div>
    <!-- /row -->
</div> <!--greetingpage--> 

<hr>

<div class="header">
<h1><strong>Past Projects</strong></h1>
</div> <!--headersofsite-->







<div class="row" style="background-color: #DCDCDC">
    

<div class="col-md-4">
    <a href="http://grow.buffalo.edu/"><div class="module1 top">
    <h1>University at Buffalo's Solar Decathlon</h1>
    </div></a>
</div> <!--col-->


<div class="col-md-4">
    <a href="https://www.buffalo.edu/ubnow/campus/campus-host-page.host.html/content/shared/university/news/ub-reporter-articles/stories/2015/05/microgravity.detail.html"><div class="module2 top">
    <h1>NASA Micro-G Next</h1>
    </div></a>
</div> <!--col-->





<div class="col-md-4 col-xs-12">
  <a href="https://ubnl.space/"><div class="module3 top">
  <h1>University at Buffalo's NANOSAT</h1>
  </div></a>
</div> <!--col-->

<!--work descriptions-->

<div class="col-md-4">
<p><br>Selected as 1 of 20 schools to participate in a DOE national sustainable house competition</p>

</div> <!--col-->


<div class="col-md-4">
<p><br>Design and build a specimen grabber for astronauts that utilizes singlehanded operations</p>

</div> <!--col-->


<div class="col-md-4">
<p><br>To design and build a small satellite ‘GLADOS’ to track space debris</p>
</div> <!--col-->

</div>    
<!--row-->



<div class="header">
<h1><strong>Coding samples:</strong></h1>
</div> <!--headersofsite-->





<div class="row">



<div class="col-md-8 col-xs-12">
  <a href="https://bikesanfran.herokuapp.com/"><div class="module4 top">
  <h1>Bike San Fran!</h1>
  </div></a>
</div> <!--col-->




<!--Work descriptions-->

<div class="col-md-4">
<p><br><h1>This is an online bike store with a San Francisco Theme. Come check it out and let me know what you think!</h1></p>
</div> <!--col-->



</div>
<!--row-->




<div class="row">



<div class="col-md-8 col-xs-12">
  <a href="https://www.slideshare.net/slideshow/embed_code/key/CfaFwouJNbE5QV"><div class="module5 top">
  <h1>Statics Project</h1>
  </div></a>
</div> <!--col-->




<!--Work descriptions-->

<div class="col-md-4">
<p><br><h1> This is an project I did in sophomore year that involves doing handheld computations to determine the stress at specific pins on the bridge. Then I used C++ to redo the calculation and checked both those using SAP2000. A triple check of three methods. </h1></p>
</div> <!--col-->



</div>
<!--row-->






<hr>


<div class="header">
<h1>Want to work on a project? I'd love to hear about it.</h1>
<a class="btn icon-btn btn-success" href='/static_pages/contact'><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Add me to your Project!</a>
</div>



     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Can place script tags with JavaScript files here -->

</body>


 


</html>