// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-description,
.reviews {
  padding-left: 0;
}

@media (max-width: 991px) {
  .product-description {
    padding-top: 20px;
  }
}

.admin-navigation {
  margin-top: 20px;
}

.rated img {
  padding: 0 0 10px 0;
}


.product-specs {
  padding-right: 0 80%;
}

.product-container {
  max-width: 60%;
  margin: 0 auto;
}

.product-container img {
  padding: 20px 0;
  max-width: 100%;
}





.productdisplay {
    width: 17%;
}



.product-table, .product-show {
    width: 90%;
}

.add-review {
	background-color: #BAB9B0;
	padding: 2em;
	margin: 2em 0;
	border: 1px solid black;
}

.add-review h4 {
	text-align: center;
	margin-bottom: 2em;
}

.submit {
	float: right;
}

.subarea {
	bottom: 0;
	right: 0;
	position: absolute;
}




.create {
	text-align: right;
}

.links {
	text-align: center;
}






/*////////////////Cards///////////////////*/

.row {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 12.5%;
}

#products .card{
    width: 300px;
    height: 450px;
    background-color: black;
    border: 1px solid rgb(228, 228, 228);
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}

#products .card:hover {
    border: 8px solid black;
    -webkit-box-shadow: 0px 10px 40px 3px rgba(224, 224, 224, 1);
    -moz-box-shadow: 0px 10px 40px 3px rgba(224, 224, 224, 1);
    box-shadow: 0px 10px 40px 3px rgba(224, 224, 224, 1);
    transition: .25s ease;
}

.card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    overflow: hidden;
    height: 70%;
    width: 100%;
}

.wrap{
    overflow: hidden;
}


.card-block {
    position: absolute;
    top: 300px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    z-index: 1;
    background-color: black;
    width: 298px;
    text-color: black;

}

.card-title {
    margin-left: 5%;
    word-wrap: break-word;
    text-color: black;
}

.card-text {
    max-width: 258px;
    text-align: center;
    font-weight: 400;
    font-family: "proxima-nova", sans-serif;
    font-size: 15px;
    margin: 10px 0px;
    text-color: black;
}

.card-footer {
    max-width: 258px;
    text-align: center;
    font-weight: 400;
    font-family: "proxima-nova", sans-serif;
    font-size: 15px;
  
    padding-left: 10%;
    text-color: black;
    }



#CardTitle_Share {
text-align: center;
    display: flex;
    justify-content: space-between;
    text-color: black;
}

#products.container, {
    display: flex;
    margin: 0 auto;
    top: 119px;
    padding-bottom: 70px;
    text-color: black;
}

.card-text {
text-align: center;
    overflow: hidden;
    margin-bottom: 20;
    text-color: black;
    z-index: 1;
}

.fade-anchor {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 0px, #ffffff 30px);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 0px, #ffffff 30px);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    top: 110px;
    right: 0;
    left: 0;
    text-align: center;
    -webkit-transition: background 150ms ease-in;
    transition: background 150ms ease-in;
    z-index: 2;
}

@media screen and (max-width: 1550px) {
    #stories.container, #categories.container, #mystories.container, .cat {
        width: 990px;
    }
}

@media screen and (max-width: 1016px) {
    #stories.container, #categories.container, #mystories.container, .cat {
        width: 660px;
    }
}

@media screen and (max-width: 686px) {
    #stories.container, #categories.container, #mystories.container, .cat {
        width: 330px;
    }

}


@media screen and (max-width: 1550px) {
    #products.container {
        width: 990px;
    }
}

@media screen and (max-width: 1016px) {
    #products.container {
        width: 660px;
    }

}

@media screen and (max-width: 686px) {
    #products.container{
        width: 330px;
    }
}

@media (max-width: 991px) {
  .product-specs {
    padding: 0;
  }
  .cart-button {
    margin-bottom: 20px;
  }
}



/*images in work*/
.work-img {
    display: block;
    margin: auto;
    max-width: 430px;
    height: 170px;
    position: relative;
}

.info {
    position: absolute;
    top: 15%;
    left: 22%;
    color: #fff;
    font-family: Futura;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5em;
    line-height: 1.6;
    display: none;
}

.prok-title {
    font-weight: 100;
}
