// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-stack: Helvetica, sans-serif;
$primary-color: #333;



/////carousel page/////////////////////////

.carousel-inner {
	background-color: #000;
}

.carousel-caption {
	font-family: 'Shrikhand', cursive;
	color: #c0362c;
	font-size: 70px;
	line-height: 60px;
	letter-spacing: -2px;
	font-kerning: normal !important;
	text-rendering: optimizeLegibility;
	text-align: left;
	text-transform: uppercase;
	
	left: 50%;
	top: 5%;
	text-shadow: none;
	display: inline;
}

.carousel-control {
	background-image: none !important;
	text-shadow: none;
	color: #c0362c !important;
	opacity: 100;
	width: 7%;
}

.carousel-control:hover, .carousel-control:focus {
	background-color: rgba(0,0,0,0);
	color: #fff;
	opacity: 100;
}

.carousel-inner > .item > img {
	width: 50%;
}

.carousel-indicators {
	bottom: -60px;
}

.carousel-indicators > li {
	border: 0;
	border-radius: 0;
	background-color: #999;
	width: 12px;
	height: 12px;
	margin: 0;
}

.carousel-indicators > .active {
	background-color: #000;
}





/////carousel page/////////////////////////


h1, h2, .navbar-brand, ul {
    text-align: center;
    color:#c0362c;
    font-family: 'Shrikhand', cursive;
    justify-content: center;
    align-items: center;
}

div.c-wrapper{
  width: 100%; 
  margin: auto;
}

p {
 color:gray;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  margin-bottom: 150px;
  padding-top: 15%;
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #ffff66;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #111;
}

.container{
  margin-top: 50px;
  color: #fff;
  width: 100%;
}

.fa-twitter {
    color: #4099FF;
}

.fa-facebook {
    color: #3B5998;
}

.fa-youtube-play {
    color: #e52d27;
}

.fa-rss {
    color: #FF6600;
}

.fa-vine {
    color: #00a478;
}

.fa-flickr {
    color: #ff0084;
}

.fa-twitch {
    color: #6441A5;
}

.fa-linkedin {
    color: #007bb6;
}

.fa {
    opacity: 0.7;
    transition: 1s;
    -webkit-transition: 1s;
}

.fa:hover{
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
}