<div class="product-reviews">
	<h3><%= @comment_count %> Customer Reviews</h3>
	<% if @product.comments.exists? %>
		<% @comments.each do |comment| %>
     <%= render partial: 'comments/comment', locals: {comment: comment} %>
    <% end %>
  <% else %>
      <p>There are no reviews yet.<% if signed_in? %> Add yours above now!<% end %></p>
  <% end %>

</div><!-- /product-reviews -->

