<% if signed_in? %>

<div class="row add-review">
  
  <div class="col-md-12 col-sm-12">
    
		<h4>Reviews!</h4>
		<%= form_for([@product, @product.comments.build]) do |form| %>
			<div class="col-md-8 col-sm-12">
			  
		 		<div class="form-group">
					<%= form.label :body, "Comments" %>
					
					<%= form.text_area :body, id: "comment-area" %>
					
				</div><!-- /form-group -->
			</div><!-- /col-md-8 -->
			<div class="col-md-3 col-sm-12">
			  
		  	<div class="form-group">
					<label for="rating">Rating</label>
					<div class="rating"></div>
				</div><!-- /form-group -->
		  </div><!-- /col-md-3 -->
			<div class="col-md-3 col-sm-12 subarea">
			  
		  	<%= submit_tag("Submit", class: "btn btn-default submit") %>
		  </div><!-- /col-md-3 -->
		<% end %>
	</div><!-- /col-md-12 -->
</div><!-- /row -->

<% end %>