<h1>Product List</h1>


  <tbody>
  <div class="container"> 
  <div class="row">
    <%# @products.each do |product| %> removed

    <%= render @products %>
    
  </div><!-- /container -->
  
  <br>


  <%= link_to 'New Product', new_product_path %>






